<div>
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 ">
      <div class="card-body row no-gutters justify-content-center">
        <div class="col-8 col-md-8 col-lg-6 ">
          <input [(ngModel)]="query" type="text" class="form-control custom-search"  placeholder="Search by id" value={{query}}>
        </div>
        <div class="col-auto">
          <button (click)="searchMovie()" class="btn btn-success">Search</button>
          <button (click)="searchCheck()" class="btn btn-danger">Clear</button>
        </div>
      </div>
    </div>

    <div
      class="foo container-mov"
      ngxInfiniteScroller
      strategy="scrollingToBoth"
      (onScrollUp)="onScrollUp()"
      (onScrollDown)="onScrollDown()"
    >
      <div class="movie-card" *ngFor="let movie of movies">
        <img routerLink="/movie/{{movie._id}}" class="movie-header manOfSteel" src={{movie.poster}} />
        <div class="movie-content">
          <div class="movie-content-header">
            <a routerLink="/movie/{{movie._id}}">
              <h3 class="movie-title">{{movie.title || '-'}}</h3>
            </a>
            <span class="pull-right">
                <i class="thumbs-up" (click)="updateRating(movie._id, movie.imdb.rating, movie.imdb.votes)"></i>
            </span>
          </div>
          <div class="movie-info">
            <div class="info-section">
              <label>Date</label>
              <span>{{movie.released | date: 'yyyy-MM-dd' || '-'}}</span>
            </div><!--date,time-->
            <div class="info-section">
              <label>Rating</label>
              <span>{{movie.imdb.rating | number : '1.2-2'}}</span>
            </div><!--screen-->
            <div class="info-section">
              <label>Votes</label>
              <span>{{movie.imdb.votes  || '-'}}</span>
            </div><!--row-->
            <div class="info-section">
              <label>Genres</label>
              <span>{{movie.genres && movie.genres[0] || '-'}}</span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="query && movies.length === 0">Sorry nothing found</div>
    </div>
  </div>
</div>
